@charset "utf-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png");
}
audio#musica {
    display: block;
    position: relative;
    width: 300px;
    top: 490px;
    left: 575px;
}
video#filme {
    display: block;
    position: relative;
    width: 450px;
    top: 59px;
    left: 82px;
}